# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\medlinetec\Desktop\Pruebas_de_codigo\Curso_testing_spring_boot_beginner_to_guru\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
